html {
	width: 100%; height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	width: 100%; height: 100%;
	margin: 0px;
	padding: 20px;
	background-color: #5E9694;
	color: #460B36;
}

div #container {
	width: 100%; height: 100%;
}

div #header {
	width: 100%; height: 10%;
	background-color: #98293D;
	color: #CBD19D;
	/*padding: 12px 3px 12px 5%;*/
	display:inline-table;
	clear:both;
	padding:8px 5% 10px;
	position: fixed;
	left:0px;
	top:0px;
	z-index: 1;
}

div #content {
	
}

div #footer {
	width: 100%; height:2%;
	background-color: #DE433B;
	color: #D49022;
	/*padding: 10px 3px 10px 5%;*/
	padding:8px 4px;
	display:inline-table;
	clear:both;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 1;
}