body {
    margin: 0px;
    padding: 0px;
    color: rgb(50,90,200);
    background: url("../imagens/fundo2.jpg") no-repeat;
    background-size: cover;
}
div#menu {
    position: absolute;
    left: 100px;
    top: 100px;
}
div#menu a:link, div#menu a:visited {
    display: inline-block;
    text-decoration: none;
    color: aquamarine;
    background-color: royalblue;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-family: fantasy;
    font-weight: bold;
    font-size: medium;
    border-radius: 8px;
    border: 2px solid mediumblue;
}
div#menu a:hover, div#menu a:active {
    background-color: tomato;
    color: azure;
    border: 2px solid sienna;
}