* {
	margin: 0 auto;
	padding: 0;
	z-index: -1;
}
body {
	width: 100%;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}
div {
	width: 150px; height: 20px;
	word-wrap: break-word;
	text-align: center;
	text-shadow: 1px 1px 2px #010101;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 1px solid #313131;
	z-index: 0;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}

.vermelho {
	background-color: red;
}
.verde {
	background-color: green;
}
.azul {
	background-color: blue;
}
.branco {
	background-color: white;
}

*[class$="cao"]:after, 
*[class~="escala"]:after,
*[class~="matrix"]:after
{
	content: "'transformado'";
	border: 1px solid black;
	background-color: white;
	color: red;
}

.rotacao {
	-ms-transform: rotate(30deg);			/* IE 9 */
	-moz-transform: rotate(30deg);		/* Firefox 3.5 and earlier */
	-o-transform: rotate(30deg);			/* Opera 12.1 and earlier */
	-webkit-transform: rotate(30deg);	/* Chrome, Safari and Opera */
	transform: rotate(30deg);
}
.translacao {
	-ms-transform: translate(50px, 100px);			/* IE 9 */
	-moz-transform: translate(50px, 100px);			/* Firefox 3.5 and earlier */
	-o-transform: translate(50px, 100px);				/* Opera 12.1 and earlier */
	-webkit-transform: translate(50px, 100px);	/* Chrome, Safari and Opera */
	transform: translate(50px, 100px);
}
.escala {
	-ms-transform: scale(1.5,2.5);			/* IE 9 */
	-moz-transform: scale(1.5,2.5);			/* Firefox 3.5 and earlier */
	-o-transform: scale(1.5,2.5);				/* Opera 12.1 and earlier */
	-webkit-transform: scale(1.5,2.5);	/* Chrome, Safari and Opera */
	transform: scale(1.5,2.5);
}
.distorcao {
	-ms-transform: skew(30deg,20deg);			/* IE 9 */
	-moz-transform: skew(30deg,20deg);		/* Firefox 3.5 and earlier */
	-o-transform: skew(30deg,20deg);			/* Opera 12.1 and earlier */
	-webkit-transform: skew(30deg,20deg);	/* Chrome, Safari and Opera */
	transform: skew(30deg,20deg);
}
.matrix {
	-ms-transform: matrix(0.886,0.5,-0.5,-0.886,0,0);			/* IE 9 */
	-moz-transform: matrix(0.886,0.5,-0.5,-0.886,0,0);		/* Firefox 3.5 and earlier */
	-o-transform: matrix(0.886,0.5,-0.5,-0.886,0,0);			/* Opera 12.1 and earlier */
	-webkit-transform: matrix(0.886,0.5,-0.5,-0.886,0,0);	/* Chrome, Safari and Opera */
	transform: matrix(0.886,0.5,-0.5,-0.886,0,0);
}

.rotacao3d {
	-ms-transform: rotate3d(10,50,20,60deg);
	-moz-transform: rotate3d(10,50,20,60deg);
	-o-transform: rotate3d(10,50,20,60deg);
	-webkit-transform: rotate3d(10,50,20,60deg);
	transform: rotate3d(10,50,20,60deg);
}
.translacao3d {
	-ms-transform: translate3d(10%,50,20);
	-moz-transform: translate3d(10%,50,20);
	-o-transform: translate3d(10%,50,20);
	-webkit-transform: translate3d(10%,50,20);
	transform: translate3d(10%,50,20);
}